<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registro</title>
    <script src="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@10.2.6/dist/autoComplete.min.js"></script>
    <link rel="stylesheet" href="./css/autocomplete.css">
    <link rel="stylesheet" href="./css/index.css">
    <script src="https://www.google.com/recaptcha/api.js"></script>
  </head>
  <body>
    <header>
      <img src="./assets/reforce-logo.png" alt="Logo">
    </header>
    <div class="circle">
    </div>

    <main>
      <section class="main-section">

        <div class="left-message">
          <h1><b>EBOOK:</b> FACTOR DE TRANSFERENCIA</h1>
          <h2>Usos médicos</h2>
          <p>Registrate para descargar un exclusivo Ebook sobre los usos médicos del factor de transferencia en infecciones virales cáncer, infecciones recurrentes y alergias.</p>
        </div>
        <div class="formulario">

          <form action="" method="post" id="form">
            <input
                    type="text"
                    id="nombre"
                    name="nombre"
                    placeholder="NOMBRE"
                    required
                    />
                  <input
                    type="email"
                    id="correo"
                    name="correo"
                    placeholder="CORREO ELECTRONICO"
                    required
                  />

                  <input id="autoComplete" id="titulo" name="titulo" required placeholder="TÍTULO"/>

                  <button
                  type="submit"
                  id="btn_registrar"
                  class="g-recaptcha"
                  data-sitekey="6LcTlY8fAAAAAM_KSzCWE8idAfId77O--gMYAkLO"
                  data-callback='onSubmit'
                  data-action='submit'
                  >
                  DESCARGAR
                </button>
              </form>
            </div>
            </section>
        </main>
        <footer>
          <a href="https://www.reforcepharma.com/" target="_blank">
            <div class="banner">
            </div>
          </a>
          <div class="aviso-privacidad">
            <a href="https://www.reforcepharma.com/politica-de-privacidad" target="_blank">
            AVISO DE PRIVACIDAD </a>
          </div>
          </footer>
        </div>
        <script src="./js/form.js"></script>
      </body>
</html>
